<?xml version="1.0"?>
<model>
  <name>windTurbine</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Swapnil Yadav</name>
   <email>swapnilyadav0818@gmail.com</email>
  </author>

  <description>
    This is a model of a Wind Turbine made in Blender
  </description>
</model>
